* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #FCFCFC;
}

h2 {
    font-size: 1.2rem;
    color: #535454;
  
}

h1 {
    grid-column: 1 / 4;
    font-size: 1.1rem;
    margin: auto 0;
    color: #535454;
    font-weight: 300;
}

#container {
    width: 60%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(5, 150px);
    grid-gap: 20px 20px;
}


.card {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 5px;
    margin:0 auto;
    border: 1px solid #8f8f8f;
    border-radius: 7px;
}

.card-link{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.img-box {
    height: 100px;
    width: 100px;
    margin: 0 20px;
}

img {
    width: 100%;
    height: 100%;
}

.employee-photo {
    border-radius: 50%;
}

.employee-info {
    width: 60%;
}

.employee-info > * {
    margin-bottom: 10px;
}

p {
    font-size: 0.8rem;
    color: #8f8f8f;
}


#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.modal-content {
    width: 350px;
    height: 550px;
    position: absolute;
    z-index: 9998;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 50px;
    text-align: center;
    border-radius: 7px;
}

.modal-img {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

#modal-img > img {
    border-radius: 50%;
}

.btn-close {
    text-align: right;
    width: 100%;
}

.btn-close > a {
    text-decoration: none;
    color: #8f8f8f;
}

.modal-content-1 {
    margin: 30px 0;
}

.modal-content-1 > * {
    margin: 10px 0;
}

.modal-content-2 {
    margin: 30px 0;
}

.modal-content-2 > * {
    margin: 10px 0; 
}

hr {
    border: 0.5px solid #8f8f8f;
}